<!DOCTYPE html>
<html lang="en">
  <head>
    <.live_title>
      <%= @page_title %>
    </.live_title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta
      name="description"
      content="A production ready example Phoenix app that's using Docker and Docker Compose."
    />

    <link phx-track-static rel="stylesheet" href={~p"/css/app.css"} />

    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/js/app.js"}
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={~p"/apple-touch-icon.png"}
    />

    <link
      rel="mask-icon"
      href={~p"/safari-pinned-tab.svg"}
      color="#384051"
    />
    
    <link rel="manifest" href={~p"/manifest.json"} />
  </head>
  <body class="flex flex-col h-screen justify-between">
    <div class="bg-cyan-600">
      <div class="max-w-screen-lg mx-auto py-3 px-3 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between flex-wrap">
          <div class="flex-1 flex items-center">
            <span class="flex p-2 rounded-lg bg-gray-900">
              <Heroicons.fire class="w-6 h-6 text-white" stroke-width="2" />
            </span>
            <p class="ml-3 font-medium text-white truncate">
              Phoenix <%= @phoenix_version %>
            </p>
            <span class="flex ml-3 p-2 rounded-lg bg-gray-900">
              <Heroicons.beaker class="w-6 h-6 text-white" stroke-width="2" />
            </span>
            <p class="ml-3 font-medium text-white truncate">
              Elixir <%= @elixir_version %>
            </p>
          </div>
          <div class="mt-2 order-3 w-full sm:mt-0 sm:w-auto">
            <div class="rounded-md shadow-sm">
              <span class="flex items-center justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-gray-900">
                <Heroicons.rocket_launch class="w-6 h-6 text-white" stroke-width="2" />
                <p class="ml-3 font-medium text-white truncate">
                  RUN_MODE = <%= @run_mode %>
                </p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="w-full lg:max-w-screen-lg mx-auto mb-auto">
      <%= @inner_content %>
    </main>

    <footer class="text-center mt-6 pb-6 h-10">
      <p class="text-gray-400 text-xs">
        <a
          class="border-b mb-1"
          href={@repository_url}
        >
          Made
        </a>
        by
        <Heroicons.command_line
          class="h-6 w-6 text-orange-700 inline"
          stroke-width="2"
        /> 
        <a class="border-b mb-1" href={@owner_site_url}>
          Roman Dunik
        </a>
      </p>
    </footer>
  </body>
</html>
